body {
    background-color:#33DDFF;
}
#mainParagraph {
    font-family: Times;
}
div{
}
#footer {
    border-bottom-width: 300px;
    border-bottom-style: dotted;
    text-align: right;
    text-transform: uppercase;
    font-size: 80%;
    color: red;
}
img {
    width: 50%;
    position: absolute;
    margin-left: 50%;
    margin-top: -150px;
} 